// out: null
.main-btn {
  max-width: @mobile__block-max-width;
  margin-bottom: 30px;
  border: @load-btn-border-width solid @load-btn-border-color;
  background-color: transparent;
  outline: none;
  font-weight: 700;
  color: @load-btn-font-color;
  text-decoration: none;
  text-align: center;
  font-family: @font-family-base;
  
  .center-block();
  .button-size(@load-btn-padding-v, @load-btn-padding-h, @load-btn-font-size, @line-height, @load-btn-border-radius);
  .text-overflow();

  &:hover {
    background-color: @load-btn-border-color;
    color: @load-btn-font-color--hvr;
  }
  
  &:active {
    background-color: @load-btn-border-color;
    color: @load-btn-font-color--active;
  }
  
}