// out:  null
.OS-compability {
  
  &__logo-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 210px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
  }
  
  &__logo-item {
    display: block;
    width: 46px;
    margin-bottom: 23px;
    
    .hidden-text();
    
    @media(min-width: 700px) {
      margin-bottom: 44px;
    }
  }
  
  &__text-list {
    max-width: 300px;
    font-weight: 300;
    line-height: @line-height--big;
    text-align: center;
    letter-spacing: -0.02em;
    color: @header-font-color;
    
    .center-block();
    
    @media(min-width: 700px) {
      font-size: @font-size-h3;
    }
  }
}