// out: null
.page-header {
  
  &__inner {
    margin-bottom: 265px;
    background: url(../img/background-1@1x.jpg) 50% 0 no-repeat;
    background-size:auto 100%; 
    
    @media(min-resolution: 2dppx) {
      background-image: url(../img/background-1@2x.jpg);
    }
    
    @media(min-resolution: 3dppx) {
      background-image: url(../img/background-1@3x.jpg);
    }
    
    @media(min-width: 700px) {
      margin-bottom: 0;
    }
    
    @media(min-width: 1200px) {
      background-image: url(../img/background-2@1x.jpg);
    }
    
    @media(min-width: 1200px) and (min-resolution: 2dppx) {
      background-image: url(../img/background-2@2x.jpg);
    }
    
    @media(min-width: 1200px) and (min-resolution: 3dppx) {
      background-image: url(../img/background-fullsize.jpg);
    } 
  }
  
  &__nav-wrap {
    display: flex;
    //размещение в основном меню
    justify-content: space-between;
    align-items: flex-end;
    //для позиционирования всплывающего меню main-nav
    position: relative; 
    padding: 6%;
    margin-bottom: 10%;
    background-color: darken(@nav-background-color, 10%);

    &--menu-open {
      background-color: @nav-background-color--menu-open;
      box-shadow: 0px 1px 0px 0px @menu-shadow-color;
    }
  }
  
  &__wrap {
    position: relative;
    padding: 6% 6% 0;
    
    @media(min-width: 700px) {
      padding: 4% 6% 10%;
    }
  }
  
  &__slogan-wrap {
    margin-bottom: 4.7%;
    
    @media(min-width: 700px) {
      position: relative;
      width: 50%;
      z-index: 10;
    }
  }
  
  &__slogan {
    max-width: @mobile__block-max-width;
    font-size: @font-size-h2;
    font-weight: 300;
    line-height:@line-height;
    text-align: center;
    color: @header-font-color;  
    
    .center-block();
    
    @media(min-width: 700px) {
      font-size: 40px;
    } 
  }
  
  &__img {
    display: block;
    height: 290px;
    
    
    @media(min-width: 700px) {
      height: 100%;
      width: 100%;
      position: absolute;
      right: 0;
      bottom: 0;
    }
    
    /* @media(min-width: 1200px) {
      padding-right: 6%;
    } */
    
    & > img {
      height: 100%;
      //выравнивание картинки
      position: relative;
      left: 50%;
      transform: translateX(-60%);
      
      @media(min-width: 700px) {
        position: static;
        transform: none;
        float: right;
      }
    }
  }
}
