// out: null
.page-header {
  
  &__inner {
    background-image: url(@product-background-image), url(@header-background-image);
    background-position: 0 @product-background-top, 50% 0;
    background-repeat: no-repeat;
    background-size: @product-background-width @product-background-height, auto @header-background-height;
  }
  
  &__nav-wrap {
    display: flex;
    //размещение в основном меню
    justify-content: space-between;
    //для позиционирования всплывающего меню main-nav
    position: relative; 
    padding: @header-padding;
    margin-bottom: 25px;
    background-color: darken(@nav-background-color, 10%);

    &--menu-open {
      background-color: @nav-background-color--menu-open;
      box-shadow: 0px 1px 0px 0px @menu-shadow-color;
    }
  }
}
