// out: null

.product-presentation {

  &__slogan {
    max-width: @mobile__block-max-width;
    margin-bottom: 34px;
    font-size: @font-size-h2;
    font-weight: 300;
    line-height:@line-height;
    text-align: center;
    color: @header-font-color;
    
    .center-block();
  }
  
  &__img {
    //для позиционирования изображения продукта
    position: relative;
    height: 283px;
    overflow: hidden;
  }
  
  &__img-container {
    position: absolute;
    height: 313px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  &__img-product {
    position: absolute;
    top: 31px;
    left: 50%;
    transform: translateX(-50%);
    width: @product-presentation-img-width;
    height: @product-presentation-img-heigth;

  }
}
