// out: null

.product-presentation {

  &__slogan {
    max-width: @mobile__block-max-width;
    margin-bottom: 15px;
    font-size: @font-size-h2;
    font-weight: 300;
    line-height:@line-height;
    text-align: center;
    color: @header-font-color;
    
    .center-block();
  }
  
  &__img {
    display: block;
    height: 285px;
  }
}
