// out: null

.product-download {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 20px 6% 33px;
  background-color: @dark-gray;
  
  @media(min-width: 700px) {
    width: 50%;
    padding: 0;
    position: relative;
    top: 0;
    z-index: 10;
    background-color: transparent;
  }
}