@font-face {
    font-family: GothamRounded; /* Имя шрифта */
    src: url(../font/GothamRoundedLight_21020.ttf); /* Путь к файлу со шрифтом */
   }

@font-face {
    font-family: Open Sans; /* Имя шрифта */
    src: url(../font/open-sans.ttf); /* Путь к файлу со шрифтом */
   }

//общие переменные
@font-color: #fff;

// переменные для блока header
@font-family--header: 'GothamRounded';
@background-url--header: '../img/header_background.png';