// out: null

.price {
  
  &__inner {
    position: relative;
    padding: 90px 0 48px;
    overflow: hidden;
    background-color: @price-background-color;
    
    &::before {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: @promo-before-element-height;
      content: "";
      background-image: linear-gradient(to bottom right, @reviews-background-color 50%, @light-gray 50%);
    }
  }
  
  &__table {
    display: table;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 40px;
    border-collapse: collapse;
    //сдвиг таблицы для мобильной версии;
   
  }
  
  &__table-header {
    min-width: 114px;
    position: relative;
    padding: 22px 80px;
    border: 2px solid #e5e5e5;
    border-top-color: transparent;
    border-bottom-color: @price-header-background-color;
    background-color: @price-header-background-color;
    
    .text-overflow();
    
    &:first-of-type {
      background-color: transparent;
      border: none;
      //для мобильной версии не отображается
      display: none;
    }
    
    &--hit::before {
      position: absolute;
      left: -42%;
      top: 10%;
      background-color: #d22856;
      content: attr(data-hit-text);
      font-size: 14px;
      font-weight: 600;
      line-height: 30px;
      text-align: center;
      color:  #fff;
      text-transform: uppercase;
      transform: rotate(-45deg);
      
      .size(100%, 30px);
      
    }
    
  }
  
  &__product-level {
    margin-bottom: 12px;
    font-size: @price-level-font-size;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color:  @price-header-font-color;
  }
  
  &__product-money {
    font-size: @price-money-font-size;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    color:  @price-header-font-color;
  }
  
  &__product-name {
    box-sizing: border-box;
    height: 61px;
    padding: 0 22px;
    border: 2px solid #e5e5e5;
    background-color: @price-body-background-color;
    font-size: @price-body-font-size;
    font-weight: 400;
    text-align: left;
    line-height: @price-table-line-height;
    text-transform: uppercase;
    color:  @price-body-font-color;
    
    .text-overflow();
    
    //первая колонка скрыта в мобильной версии
    &:first-of-type {
      display: none;
    }
    
  }
  
   &__product-checked {
     display: inline-block;
     float: right;
     fill: #3dc644;
     
     .size(29px; 22px);
    }
      
    &__product-unchecked {
      display: inline-block;
      float: right;
      fill: #f25c28;
      
      .square(26px);
    }
}