// out: null

.price {
  
  &__inner {
    position: relative;
    padding: 80px 7% 10%;
    overflow: hidden;
    background-color: @price-background-color;
    
    &::before {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: @promo-before-element-height;
      content: "";
      background-image: linear-gradient(to bottom right, @reviews-background-color 50%, @light-gray 50%);
    }
    
    @media(min-width: 700px) {
      & > .point-paginator {
        display: none;
      }
    }
    
  }
  
  &__table {
    display: table;
    position: relative;
    border-collapse: collapse;
    
    //сдвиг таблицы;
    &--center {
      left: 50%;
      transform: translateX(-50%);
    }
    
    &--left {
      left: 10%;
      transform: none;
    }
    
    &--right {
      left: 90%;
      transform: translateX(-100%);
    }
    
    @media(min-width: 700px) {
      position: static;
      transform: none;
      margin: 0 auto;
    }
    
  }
  
  &__table-header {
    min-width: 114px;
    position: relative;
    padding: 22px 80px;
    border: 2px solid #e5e5e5;
    border-top-color: transparent;
    border-bottom-color: @price-header-background-color;
    background-color: @price-header-background-color;
    
    .text-overflow();
    
    &:first-of-type {
      background-color: transparent;
      border: none;
      display: none;
      
      @media(min-width: 700px) {
        display: table-cell;
      }
    }
    
    &--hit::before {
      position: absolute;
      left: -39%;
      top: 25%;
      transform: translateY(-50%) rotate(-45deg);
      content: attr(data-hit-text);
      background-color: #d22856;
      font-size: 14px;
      font-weight: 600;
      line-height: 30px;
      text-align: center;
      color:  #fff;
      text-transform: uppercase;
      
      
      .size(100%, 30px);
      
    }
      
      @media(min-width: 700px) {
        padding: 19px 20px 13px;
      }
    
  }
  
  &__product-level {
    margin-bottom: 12px;
    font-size: @price-level-font-size;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color:  @price-header-font-color;
    
    @media(min-width: 700px) {
        font-size: 16px;
      }
  }
  
  &__product-money {
    font-size: @price-money-font-size;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    color:  @price-header-font-color;
    
    @media(min-width: 700px) {
        font-size: 18px;
      }
  }
  
  &__product-name {
    box-sizing: border-box;
    height: 61px;
    padding: 0 22px;
    border: 2px solid #e5e5e5;
    background-color: @price-body-background-color;
    font-size: @price-body-font-size;
    font-weight: 400;
    text-align: left;
    line-height: @price-table-line-height;
    text-transform: uppercase;
    color:  @price-body-font-color;
    
    .text-overflow();
    
    //первая колонка скрыта в мобильной версии
    &:first-of-type {
      display: none;
      
      @media(min-width: 700px) {
        display: table-cell;
      }
    }
    
    @media(min-width: 700px) {
      &:not(:first-of-type) {
        text-align: center;
        
        .hidden-text();
      }
    }
  }
  
   &__product-selected {
     display: inline-block;
     float: right;
     
     @media(min-width: 700px) {
       float: none;
      }
    }
      
}