// out: null
.contacts {
    padding-top: 12%;
    line-height: 2em;
    background-color: @contacts-background-color;
  
  &__header-group {
    padding: 0 6%;
    margin-bottom: 6%;
    
    .center-block();
  }
  
  &__header {
    color: @contacts-header-color;
    font-size: @font-size-h2;
    font-weight: 300;
    text-align: center;
    line-height: 1.375em;
    
    @media(min-width: 700px) and (max-width: 1200px) {
      font-size: @font-size-h2--big;
    }
    
    @media(min-width: 1200px) {
      font-size: 50px;
    }
  }
  
  &__items {
    position: relative;
    padding: 0 6% 6%;
    list-style: none;
    
    @media(min-width: 700px) {
      padding-bottom: 2%;
    }
    
    @media (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
    }
    
    &::before {
      content: "";
      position: absolute;
      top: 99.99%;
      right: 0;
      width: 50%;
      padding: 5% 0;
      z-index: 100;
      background: linear-gradient(to right bottom, @contacts-background-color 50%, transparent 50%)
    }
    
    &::after {
      content: "";
      position: absolute;
      top: 99.99%;
      left: 0;
      width: 50%;
      padding: 5% 0;
      z-index: 100;
      background: linear-gradient(to left bottom, @contacts-background-color 50%, transparent 50%)
    }
  }
  
  &__item {
    display: block;
    max-width: @mobile__block-max-width;
    margin-bottom: 6.5%;
    
    .center-block();
    
    &:last-child {
      margin-bottom: 0;
    }
    
    @media(min-width: 700px) and (max-width: 1200px) {
      &:first-child {
        float:left;
      }
      
      &:nth-child(2) {
        float:right;
      }
      
      &:last-child {
        clear: both;
      }
    }
    
    @media(min-width: 1200px) {
      float: none;
      margin: 0;
      
      &:nth-child(2) {
        order: 1;
      }
      
    }
      
  }
  
  &__item-header {
    font-size: @font-size-h3;
    font-weight: 700;
    text-align: center;
    color: @contacts-header-color;
    
    @media(min-width: 1200px) {
      margin-bottom: 30px;
    }
  }
  
  &__item-info {
    display: block;
    font-size: @font-size-h2;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    color: @contacts-info-color;
    
    &--email {
      &:hover {
        color: @contacts-header-color;
        text-decoration: underline;
      }
      &:active {
        color: @gray;
        text-decoration: none;
      }
    }
    
  }
  
  &__geolocation {
    position: relative;
    height: 60vw;
    background: url(https://maps.googleapis.com/maps/api/staticmap?center=Петербург,+Невский+проспект,+20&zoom=17&scale=2&size=640x640&maptype=roadmap&format=png&visual_refresh=true) 50% 50% no-repeat;
    background-size: cover;
    
    @media(min-width: 700px) and (max-width: 1200px) {
    background-image: url(https://maps.googleapis.com/maps/api/staticmap?center=Петербург,+Невский+проспект,+20&zoom=16&scale=2&size=640x640&maptype=roadmap&format=png&visual_refresh=true)
    }
    
    @media(min-width: 1200px) {
    background-image: url(https://maps.googleapis.com/maps/api/staticmap?center=Петербург,+Невский+проспект,+20&zoom=15&scale=2&size=640x640&maptype=roadmap&format=png&visual_refresh=true)
    }
    
    //маркер на карте
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 16px;
      height: 16px;
      content: "";
      border: 10px solid #fff;
      border-radius: 50%;
      background-color: @contacts-info-color;
    } 
  }
}