// out: null
.promo {
  
  &__slogan {
    display: block;
    padding: 12% 7% 7.5%;
    background-color: @promo-slogan-background-color;
    
  }
  
  &__slogan-header {
    display: block;
    margin-bottom: 6%;
    font-weight: 300;
    font-size: @font-size-h2;
    line-height: @line-height;
    text-align: center;
    color: @dark-gray;
   
    .center-block();
    
    @media(min-width: 700px) {
      font-size: @font-size-h2--big;
      margin-bottom: 0;
    }
    
    &:last-child {
      margin-bottom: 0;
      
      @media(min-width: 700px) {
        max-width: 580px;
      }
    }
  }
  
  &__advantages {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    padding: 80px 7% 0;
    overflow: hidden;
    background-color: @light-gray;
    
    @media(min-width: 700px) {
      flex-direction: row;
      justify-content: space-between;
    }
    
    &::before {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: @promo-before-element-height;
      content: "";
      background-image: linear-gradient(to bottom right, @promo-slogan-background-color 50%, @light-gray 50%);
    }
  }
  
  //для рисунков
  &__advantage-image-items {
    display: block;
    
    @media(min-width: 700px) {
      width: 45%;
    }
  }
  
  &__advantage-image-item {
    position: relative;
    display: block;
    margin-top: 12.5%;
    
    .center-block();
    //в мобильной версии часть рисунков скрыта
    &:not(:last-child) {
      display: none;
    }
    
    @media(min-width: 700px) {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: 0;
    }
  }
  
  &__advantage-image-container {
    display: block;
    width: @advantage-image-container-width;
    height: @advantage-image-container-height;
    
    .center-block();
    
    @media(min-width: 700px) {
      width: auto;
      height: 100%;
    }
  }
  
  &__advantage-image {
    width: @advantage-image-width;
    height: @advantage-image-height;
    bottom: 0;
    
    .absolute-center-block();
    
    @media(min-width: 700px) {
      width: auto;
      height: 88%;
    }
  }
  
  //для текста
  &__advantage-text-items {
    display: block;
    list-style: none;
    
    @media(min-width: 700px) {
      width: 45%;
    }
  }
  
  &__advantage-text-item {
    display: block;
    margin-bottom: 8%;
    text-align: center;
    
    &:last-child {
      margin-bottom: 0;
      
      @media(min-width: 700px) {
        margin-bottom: 8%;
      }
    }
    
    @media(min-width: 700px) {
        text-align: left;
      }
  }
  
  &__advantage-header {
    display: block;
    margin-bottom: 9px;
    font-size: @font-size-h3;
    font-weight: 700;
    line-height: @line-height--big;
  }
  
  &__advantage-text {
    display: block;
    font-weight: 400;
    color: @dark-gray;
    line-height: @line-height--big;
  }
  
  &__effects {
    display: none;
    padding: 11% 7% 0;
    background-color: @promo-slogan-background-color;
    overflow: hidden;
    
    @media(min-width: 700px) {
        display: block;
    }
  }
  
  &__effects-image {
    float: left;
    position: relative;
    margin-right: 47px;
    
    &::after {
      content: "24";
      bottom: 28px;
      border: 10px solid @base-color;
      border-radius: 50%; 
      color: @base-color;
      font-size: 104px;
      font-weight: 700;
      text-align: center;
      line-height: 195px;
      
      .square(195px);
      .absolute-center-block();
    }
  }
  
  &__effects-image-item {
   .size(262px, 302px);
  }
  
  &__effects-header {
    margin-top: 45px;
    margin-bottom: 20px;
    color:  #000;
    font-size: @font-size-h3--big;
    font-weight: 700;
    text-align: left;
  }
  
  &__effects-text {
    margin-bottom: 20px;
    color:  @dark-gray;
    font-size: @font-size-h3;
    font-weight: 400;
    text-align: left;
  }
  
  &__effects-link {
    color:  @base-color;
    font-weight: 400;
    text-align: left;
    text-decoration: underline;
  }
  
}