// out: null

.reviews {
  background-color: @reviews-background-color;
  clear: both;
  
  &__inner {
    
    padding: 11% 7%;
    
    .center-block();
    
    @media(min-width: 700px) {
      padding-bottom: 3%;
    }
  }
  
}