// out: null

.slider-reviews {
  position: relative;
  
  
  &__item {
    display: flex;
    flex-direction: column;
    max-width: 680px;
    margin: 0 auto;
    
    &--hidden {
      display: none;
    }
  }
  
  &__author {
    order: -1;
    display: block;
    margin-bottom: 15px;
    font-size: @font-size-h3;
    font-weight: 700;
    text-align: center;
    color: @reviews-author-font-color;
    line-height: @line-height;
    
    @media(min-width: 700px) {
      order: 0;
      font-size: 20px;
      margin-bottom: 0;
    }
    
    @media(min-width: 1200px) {
      font-size: 24px;
    }
  }
  
  &__author-about {
    display: none;
    font-size: @font-size-base;
    font-weight: 400;
    text-align: center;
    color: @reviews-text-font-color;
    line-height: @line-height;
    
    @media(min-width: 700px) {
      display: block;
    }
    
    @media(min-width: 1200px) {
      font-size: 18px;
    }
  }
  
  &__author-comment {
    display: block;
    font-size: @font-size-base;
    font-weight: 400;
    text-align: center;
    color: @reviews-text-font-color;
    line-height: 2.1em;
    quotes: "\00ab" "\00bb";
    
    &::before {
      display: inline;
      content: open-quote;
    }
    
    &::after {
      display: inline;
      content: close-quote;
    }
    
    @media(min-width: 700px) {
      margin-bottom: 44px;
      font-size: @font-size-h3;
    }
    
    @media(min-width: 1200px) {
      quotes: none;
    }
  }
  
  &__point-paginator {
    display: block;
    margin-top: 40px;
    text-align: center;
    counter-reset: paginator-items;

    .hidden-text();
    
    @media(min-width: 1200px) {
      display: none;
    }
  
  }
  
  &__point-paginator-item {
    display: inline-block;
    margin-right: @paginator-margin-right;
    border-radius: 50%;
    border: @paginator-border-width solid transparent;
    background-clip: padding-box;
    background-color: @paginator-background-color;
    vertical-align: middle;
    
    .square(@paginator-size);
    .hidden-text();
    
    &::before {
      display: inline-block;
      counter-increment: paginator-items;
      content: counter(paginator-items);
    }
    
    &:last-child {
      margin-right: 0;
    }
    
    &:hover {
      background-color: @paginator-background-color--hvr;
    }
    
    &:active {
      background-color: #e9ebec;
    }
  
    &--active {
      border-color: @paginator-border-color;
      background-color: @paginator-background-color--active;
      
      &:hover {
        background-color: @paginator-background-color--active;
      }
    }
  }
  
  &__row-paginator {
    display: none;
    position: absolute;
    top: 20%;
    width: 100%;
    
    @media(min-width: 1200px) {
      display: block;
    }
  }
  
  &__row-paginator-item {
    display: block;
    height: 42px;
    
    &--left {
      float: left;
    }
    
    &--right {
      float:right;
    }
  }
  
  
}