// out: null
.page-header {
  &__inner {
    background: url(@header-background-url) 0 0 no-repeat;
    max-width: @mobile__max-width;
    margin: 0 auto;
  }
  &__nav-wrap {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: @header-padding;
    background-color: @nav-background-color;
    margin-bottom: 25px;
    &--menu-open {
      background-color: @nav-background-color--menu-open;
      box-shadow: 0px 1px 0px 0px @menu-shadow-color;
    }
  }
}
